<form id="form-sorting-by-date" class="form-inline my-0 mr-md-auto" action="" method="GET" style="align-items: end;">
    <select name="sortbydate" class="custom-select mr-sm-2" id="inlineFormCustomSelect" onchange='this.form.submit();'>
        <option selected>Sort by date</option>
        <option value="asc">Title A-Z</option>
        <option value="desc">Title Z-A</option>
    </select>
</form>