<form method="GET" class="form-inline my-0 mr-md-auto" action="{{ path('user_search_results') }}">
    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Enter the user's email" aria-label="Search user">
    <button class="btn btn-primary" type="submit">Search user</button>
</form>