<form method="GET" class="form-inline my-0 mr-md-auto" action="{{ path('product_search_results') }}">
    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Product name" aria-label="Search product">
    <button class="btn btn-primary" type="submit">Search product</button>
</form>